<%- include('partials/header.ejs'); %>
<h1>Quiz PAGE</h1>
<h3><a href="/">TO TOP page</a></h3>
<div class="container">
  <p id="question"></p>
  <ul id="answers"></ul>
  <p id="result"></p>
  <button id="restart-button">restart</button>
</div>
<script src="JS/main.js"></script>
<%- include('partials/footer.ejs'); %>
